body{
    margin: 0;
}
.block-1 {
    display: flex;
}

.header {
    display:flex; 
    flex-basis: 100%;
    justify-content: space-between;
    background-color: #A90011;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.logo {
    color: #FFFFFF;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 25pt;
    align-items: center;
    flex-grow: 3;
}

.right-links {
    text-decoration: none;
    color: #FFFAEF;
    font-size: 17pt;
    font-weight: 300;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around
}

.intro {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    border: solid #D11D27;
    border-top: none;
    border-bottom: none;
}

.sub {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.subhead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    color: #D11D27;
    font-weight: bold;
    padding-left: 10pt;
}

.text-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    color: rgb(68, 68, 68);
    padding-left: 10pt;
}

.one {
    margin: 30px;
}

/* block 3 styling */
.block-3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: #D11D27;
}

.h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    color: white;
    font-weight: bold;
    padding-left: 10pt;
    text-align: center;
}

.objects{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.object{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
    align-items: center;
}

.objimg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.obhead {
    justify-self: flex-start;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.obtext {
    color: white;
    font-size: 12pt;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.block-4 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFAEF;
    border: solid #D11D27;
    margin: 0;
}

.quotetext {
    color: #D11D27;
    font-weight: bolder;
    font-style: italic;
    font-size: 36pt;
}

.quotebutton {
    background-color: #e5b80b;
    color:#FFFFFF;
    border-color: #e5b80b ;
    padding: 10px;
    border-radius: 30px;
    color: #A90011;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 100%;
    background-color: #D11D27;
    color: #FFFFFF;
}

.lt {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 20px;
}

.god {
    text-decoration: none;
    color:#FFFAEF;
    margin-left: 10pt;
}